a{
    text-decoration: none;
    color: #fff;
}
.mui-input-row:nth-of-type(1){
    margin-top: 15px;
}

.mui-input-row{
    padding: 0 10px;
}

.mui-input-row .mui-input-password~.mui-icon-eye{
    right: 8px;
}

.mui-input-row .code{
    width: 60%;
}

.getCode{
    border: 1px solid #ccc;
    display: inline-block;
    width: 34%;
    padding: 10px 0;
    margin-left: 16px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    border-radius: 4px; 
    background-color: #007aff;
}

.mui-input-row .mui-btn{
    width: 100%;
    padding: 10px 10px;
}
.btn_disabled{
    background: #999;
    border-color: #999;
}
.YG_container .txt{
    padding: 15px 10px;
    font-size: 12px;
}
.YG_container .txt input{
    width: 14px;
    height: 14px;
    padding: 0;
    vertical-align: middle;
}

.YG_container .txt a{
    color: #007aff;
    float: right;
}